@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import "react-widgets/styles.css";

* {
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
}

.nav {
  top: 0;
}

.footer {
  bottom: 0;
}
